SUPABASE_URL=https://pkhfjmedvhxsqzsiuugt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBraGZqbWVkdmh4c3F6c2l1dWd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MzAzMjAsImV4cCI6MjA4OTMwNjMyMH0.ty4d5ANY_edO7IZpAQbgh2AQvdvcVUhBLXXToJZOwP0
MODEL_PATH=./models/unified_disease_model.h5
